.line{
    border-top: 10px solid blue;
    width: 100%;
    padding-bottom: 50px;
}
.btn-dark{
    color: black;
}
.content{
    display: flex;
    flex-direction: column ;
}
.section-b{
    display: flex;
}
.content p{
    text-align: center;
}
.content h2{
    text-align: center;
}
.section-title{
    text-align: center;
    text-decoration: underline yellow;
    padding-top:50px;
}
.lead{
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
i{
    text-align: center;
}
.section-c{
    text-align: center;
    flex-direction: row;
    display: flex;
    margin:0px ;
    padding: 0px;
}
.section-c{
    text-align: center;
    flex-direction: row;
    display: flex;
    margin:0px ;
    padding: 0px;
}
.content3{
    text-align: center;
    text-decoration: solid;
    margin:30px ;
    padding:50px;
    border-style:outset;
    border-width: 30px;
}
.content4{
    text-align: center;
    margin: 30px;
    padding:70px;
    border-style:outset;
    border-width: 30px;
}
.content5{
    text-align: center;
    margin: 30px;
    padding: 70px;
    border-style:outset;
    border-width: 30px;
}.content6{
    text-align: center;
    margin: 30px;
    padding: 70px;
    border-style:outset;
    border-width: 30px;
}
.k{
    padding: 30px;
    height: 2px;
    width: 5px;
    display: block;
    margin: 0 auto 1rem auto;
}